@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poiret+One&display=swap');
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueBold.woff2') format('woff2'),
        url('../fonts/BebasNeueBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('../fonts/SFUIText-Medium.woff2') format('woff2'),
        url('../fonts/SFUIText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}



body{
    font-family: Arial, Helvetica, sans-serif;
}

.nav1 li{
    text-transform: uppercase; 
}
.nav2 li{
    font-size: 14px;
}
h1 {
    font-size: 48px;
    font-family: "Bebas Neue";
    text-shadow: 1px 1px 2px #FFFFFF, 3px 2px 4px rgba(0,0,0,0.35);
    text-align: center;
}
h2 {
    font-size: 28px;
    font-family: "SF UI Text";
    font-style: oblique;
    color: #000080;
    text-align: center;
}
p {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    font-weight: 500;
}
.text1 {
    text-decoration: underline;
}
.question {
    font-family: 'Lobster', cursive;
    font-size: 24px;
    text-indent: 30px;
    line-height: 150%;
}
div {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    color: #008080;
    letter-spacing: 2px;
}
.read {
    font-size: 22px;
    font-weight: 600;
    font-style: italic;
    color: #8B0000;
    text-indent: 30px;
}
.read li{
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    font-style: normal;
    word-spacing: 2px;
}
footer p{
    color: rgba(25, 25, 112, 0.5);
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
}

